<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mikepenz.materialdrawer.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/android_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/android_logo">
        <!-- android:supportsRtl="true" -->
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".ProfileViewActivityBasketball"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".updateProfile"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".updateBasketballStats"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".viewProfile"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".updateVolleyballStats"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".ProfileViewActivityVolleyball"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".viewProfileVolleyball"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".invitations"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".schools"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".uslsInfo"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".unorInfo"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".csabInfo"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
        <activity
            android:name=".stiInfo"
            android:label="@string/app_name"
            android:theme="@style/MaterialDrawerTheme">
        </activity>
    </application>

</manifest>
